* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(12, 14, 51);
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
    background: linear-gradient(266deg, rgba(27, 121, 71, 1) 0%, rgba(162, 96, 38, 1) 98%);
    animation: gradient 15s ease infinite;
}

h1 {
    margin: 15px 0;
    padding-left: 5%;
    font-size: 88px;
    background-color: rgb(80, 45, 32);
}

.nav-links {
    display: inline-block;
    padding: 20px 25px 20px;
    font-size: 24px;
}

.nav-links:hover {
    transform: scale(1.4);
    transition: 0.3s;
}

.subtitle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    background-image: url(./images/subtitle-image.jpg);
    background-size: cover;
}

.subtitle-header {
    background-color: rgb(80, 45, 32);
    margin-bottom: 5px;
}

main {
    background: linear-gradient(266deg, rgba(27, 121, 71, 1) 0%, rgba(162, 96, 38, 1) 98%);
    animation: gradient 15s ease infinite;
}

h2 {
    font-size: 55px;
}

p {
    width: 50%;
    border-left: 3px solid rgb(12, 14, 51);
    padding-left: 8%;
    text-align: center;
    font-size: 18px;
}

.main-headers {
    width: 300px;
    margin-left: 15%;
}

#about-me {
    display: flex;
    padding: 20px;
}

.about-me-text {
    line-height: 1.5;
}

#work {
    display: flex;
    padding: 20px;
}

.images {
    width: 100%;
    height: 200px;
}

.image-wrapper {
    position: relative;
    width: 100%;
    margin: 1%;
}

.image-container {
    margin: 2%;
}

#img-one {
    width: 98%;
    object-fit: cover;
}

.images {
    border: 2px solid rgb(12, 14, 51);
    border-radius: 1%;
    margin: 0.5%;
}

.image-wrapper:hover {
    transition: 1s;
    transform: scale(1.4);
    z-index: 1;
}

.image-header {
    position: absolute;
    top: 70%;
    left: 0;
    padding: 1% 2%;
    margin-left: .5%;
    background-color: rgb(80, 45, 32);
    font-size: 22px;
    border: 1px solid rgb(12, 14, 51);
}

.project-images {
    border-left: 3px solid rgb(12, 14, 51);
    padding-left: 8%;
    width: 50%;
}

.project-container {
    display: flex;
    justify-content: center;
}

#resume {
    display: flex;
    padding: 20px;
}

.footer {
    display: flex;
    padding: 20px;
}

#contact {
    margin-left: 15%;
    width: 300px;
}

.contact-links {
    display: inline;
    font-size: 20px;
    padding-left: 8%;

}

.footer-links:link {
    text-decoration: none;
}

.footer-ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid rgb(12, 14, 51);
    height: 100px;
    width: 50%;
    padding-left: 5%;
}

/* KEYFRAMES */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1228px) {
    header {
        line-height: 1;}

    .project-container {
        flex-wrap: wrap;
    }

    #work {
        flex-direction: column;
        align-items: center;
    }

    .footer-ul {
    padding-left: 8%;
    }

    .project-images {
        border-top: 3px solid rgb(12, 14, 51);
        border-left: none;
        width: 60%;
        padding: 0;
    }

    .work-header {
        margin: 0 auto;
        text-align: center;
    }
}


@media screen and (max-width: 1000px) {

    #about-me {
        flex-direction: column;
        align-items: center;
    }

    .about-me-text {
        border-top: 3px solid rgb(12, 14, 51);
        border-left: none;
        width: 70%;
        padding: 1%;
        line-height: 1.8;
    }

    .about-me-header {
        margin: 0 auto;
        text-align: center;
    }

    .main-headers {
        width: 50%;
    }

    #resume {
        flex-direction: column;
        align-items: center;
    }

    .resume-text {
        border-top: 3px solid rgb(12, 14, 51);
        border-left: none;
        width: 50%;
        padding: 5%;
        margin: 0;
    }

    .resume-header {
        margin: 0 auto;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-ul {
        border-top: 3px solid rgb(12, 14, 51);
        border-left: none;
        margin: 3%;
        padding: 0;
    }
}

@media screen and (max-width: 670px) {
    body {
        display: inline-block;
    }
}